
@model Models.Entities.AboutMe.AboutMe

@{ 

    List<Models.Entities.AboutMe.Abilities> abilities = ViewData["Ability"] as List<Models.Entities.AboutMe.Abilities>;


}
<section id="about" class="about-mf sect-pt4 route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="box-shadow-full">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-sm-6 col-md-5">
                                    <div class="about-img">
                                        <img src="/Images/UserAvatar/@Model.AvatarName" class="img-fluid rounded b-shadow-a" alt="">
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-7">
                                    <div class="about-info">
                                        <p>
                                            <span class="title-s">نام : </span>
                                            <span>@Model.UserName</span>
                                        </p>
                                        <p>
                                            <span class="title-s">پروفایل : </span>
                                            <span>@Model.JobAbility</span>
                                        </p>
                                        <p>
                                            <span class="title-s">ایمیل: </span>
                                            <span>@Model.Email</span>
                                        </p>
                                        <p>
                                            <span class="title-s">تلفن : </span>
                                            <span>@Model.PhoneNumber</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="skill-mf">
                                <p class="title-s">مهارت ها</p>

                                @foreach (var item in abilities)
                                {
                                    <span>@item.AbilityName</span> <span class="pull-left">@item.AbilityPercent%</span>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                }



                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="about-me pt-4 pt-md-0">
                                <div class="title-box-2">
                                    <h5 class="title-left">
                                        درباره من
                                    </h5>
                                </div>
                                <p class="lead">
                                @Html.Raw(Model.LongDescription)
                                </p>
                       
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>