@model Models.Entities.Projects.Project
@{
    ViewData["Title"] = Model.ProjectTitle;
    Layout = "~/Views/Shared/_ProductsLayout.cshtml";
}

<section class="bg-half d-table w-100" style="background: url('/Images/Projects/@Model.ProductImageName') center center;">
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 text-center">
                <div class="page-next-level">
                    <h3 class="title text-white title-dark">@Model.ProjectTitle </h3>
                    <div class="page-next">
                        <nav aria-label="breadcrumb" class="d-inline-block">
                            <ul class="breadcrumb bg-white rounded shadow mb-0">
                                <li class="breadcrumb-item"><a href="#">@Model.ProjectTitle </a></li>
                                <li class="breadcrumb-item"><a href="#">@Model.Tags </a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div> <!--end container-->
</section><!--end section-->

<div class="position-relative">
    <div class="shape overflow-hidden text-white">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
        </svg>
    </div>
</div>

<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="row">
                    <div class="col-md-2 d-none d-md-block">
                        <ul class="list-unstyled text-center sticky-bar social-icon mb-0">
                            <li class="mb-3 h6">ارتباط </li>
                            <li><a href="https://www.facebook.com/parsa.panahpoor.14/" class="rounded"><i data-feather="facebook" class="fea icon-sm fea-social"></i></a></li>
                            <li><a href="https://www.instagram.com/parsapanahpoor_/"><i data-feather="instagram" class="fea icon-sm fea-social"></i></a></li>
                            <li><a href="https://twitter.com/Parsapanahpoor" class="rounded"><i data-feather="twitter" class="fea icon-sm fea-social"></i></a></li>
                            <li><a href="#" class="rounded"><i data-feather="linkedin" class="fea icon-sm fea-social"></i></a></li>
                        </ul><!--end icon-->
                    </div>

                    <div class="col-md-10">

                        <ul class="list-unstyled d-flex justify-content-between mt-4">
                            <li class="list-inline-item user me-2"><a  class="text-muted"><i class="uil uil-user text-dark"></i>  ParsaPanahpoor</a></li>
                            <li class="list-inline-item date text-muted"><i class="uil uil-calendar-alt text-dark"></i>  @Model.CreateDate</li>
                        </ul>

                        <img src="/Images/Projects/@Model.ProductImageName" class="img-fluid rounded-md shadow" alt="">

                        <p class="text-muted">@Html.Raw(Model.LongDescription)</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
